/* Beige	#F7E2C0 */
/* Gold		#FFD556 */
/* GreyD	#383633 */
/* Liberal	#78CAD7 #2E6C87 */
/* Fascist	#E3644F #9C0701 */

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	width: inherit;
	height: inherit;
	background-color: #eaeae5;
	font-family: system-font, -webkit-system-font, 'Helvetica Neue', Helvetica, sans-serif;

	font-weight: 300;
	color: #393734;
}

a {
	color: #9C0701;
	text-decoration: none;
}
a:hover {
	color: #E3644F;
	text-decoration: underline;
}

.clear {
	clear: both;
	margin-left: 1px;
}

.left, .left > * {
	float: left;
	text-align: left;
}

.right, .right > * {
	float: right;
	text-align: right;
}

h1 {
	font-size: 3em;
}

section {
	width: inherit;
	height: inherit;
	overflow: hidden;
}

.faint {
	color: #666;
}

/* FORMS */

button.large {
	height: 44px;
	width: 480px;
	max-width: 100%;
	margin: 8px 0;

	font-size: 1.3em;
	color: #393734;
}

input {
	font-family: inherit;
}

textarea {
	box-sizing: border-box;
	display: block;

	width: 420px;
	height: 128px;
	max-width: 100%;

	margin: 12px auto;
	font-size: 1em;
}

select {
	font-size: 1em;
}