#s-signin {
	text-align: center;
}

#s-signin input {
	font-family: inherit;
	text-align: center;
	font-size: 2em;
	font-weight: 300;
	padding: 8px 4px;
	width: 480px;
	max-width: 100%;
}

#s-signin h2 {
	font-weight: 400;
	font-size: 1.5em;
}

#s-signin h3 {
	font-weight: 300;
	font-size: 1.2em;
}
