#board-container {
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;

	width: 720px;
	max-width: 100vw;
	height: 480px;
	max-height: 67vw;
}

#board {
	width: 100%;
	height: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	overflow: hidden;
}

.board-component {
	box-sizing: border-box;
	width: 100%;
	height: 33.34%;
	padding: 8px 3px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
}

/* PLACEHOLDERS */

.policy-placeholder {
	box-sizing: border-box;
	position: relative;
	height: 100%;
	width: 15%;
	border: 2px solid;
	padding: 1%;
	text-align: center;
}

.policy-placeholder .detail {
	position: absolute;
	bottom: 6px;
	left: 6px;
	right: 6px;
	font-size: 0.8em;
}

.policy-placeholder .policy {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	box-sizing: border-box;
	border: 1px solid;
}

.policy-placeholder.victory {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.policy-placeholder.victory.liberal {
	background-image: url(/image/liberal-victory.png);
}
.policy-placeholder.victory.fascist {
	background-image: url(/image/fascist-victory.png);
}

/* POLICIES */

#board-policy-piles .policy {
	box-shadow: 2px -1px 4px rgba(0, 0, 0, 0.5);
}

#board-policy-piles {
	margin: auto;
	justify-content: center;
	padding: 8px 4px;
	background-color: #9E927C;
}

.card-pile {
	background-color: #383633;
	padding-bottom: 2%;
}

.pile-label {
	color: #F7E2C0;
	font-size: 0.5em;
	font-weight: 100;
	letter-spacing: 3px;
	position: absolute;
	bottom: 1px;
	left: 0;
	right: 0;
}

.pile-cards {
	font-size: 3em;
	font-weight: 200;
	background-color: #F7E2C0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* TRACKER */

#election-tracker {
	position: relative;
	width: 50%;
	margin: 0 16px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.tracker-slot {
	width: 72px;
	height: 72px;
	max-width: 8vw;
	max-height: 8vw;

	box-sizing: border-box;
/* 	margin: 20px; */
	border-radius: 50%;
	border: 4px solid #62C2A0;
}

.tracker-slot.selected {
	background-color: #62C2A0;
}

#tracker-title, #tracker-description {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}

#tracker-title {
	top: 0;
	font-size: 1.4em;
	font-weight: 100;
	letter-spacing: 0.15vw;
}

#tracker-description {
	bottom: 0;
	font-size: 0.7em;
}
