#s-game {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

#game-mat {
	position: relative;
	box-sizing: border-box;
	height: 100%;
	min-height: 600px;
	padding-bottom: 44px;

	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#s-game.directive #game-mat {
	padding-top: 44px;
}

/* DIRECTIVE */

#directive {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9001;
	width: 100%;
	padding: 0 4px;
	box-sizing: border-box;

	height: 44px;
	line-height: 44px;
	text-align: center;
	font-weight: 400;
	font-size: 1.3em;

	background-color: #393734;
	color: #F7E2C0;
	text-shadow: 0 4px 16px black;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#s-game:not(.directive) #directive {
	display: none;
}

/* PARTY */

.fascist {
	color: #9C0701;
	background-color: #E3644F;
	border-color: #9C0701 !important;
}
.fascist.danger {
	color: #E3644F;
	background-color: #9C0701;
}

.liberal {
	color: #2E6C87;
	background-color: #78CAD7;
	border-color: #2E6C87 !important;
}
.liberal.danger {
	color: #73CBD9;
	background-color: #2E6C87;
}

.liberal.image {
	background-image: url(/image/liberal.png);
}
.fascist.image {
	background-image: url(/image/fascist.png);
}
.hitler.image {
	background-image: url(/image/hitler.png);
}
